VITE_API_BASE_URL=https://crm-backend-fxsf.onrender.com
VITE_SUPABASE_URL=https://coatxgpsfjjtvvyfuekz.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNvYXR4Z3BzZmpqdHZ2eWZ1ZWt6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzE4NDQ1NDgsImV4cCI6MjA4NzQyMDU0OH0.lIosPvRxMSED0-94EaUohdsZUU7pwl7FDNpRlwezbpg
