SUPABASE_URL=https://coatxgpsfjjtvvyfuekz.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNvYXR4Z3BzZmpqdHZ2eWZ1ZWt6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzE4NDQ1NDgsImV4cCI6MjA4NzQyMDU0OH0.lIosPvRxMSED0-94EaUohdsZUU7pwl7FDNpRlwezbpg
SUPABASE_JWT_SECRET=cc4caa55-ccc9-4c45-b63a-061acb1a8478
CORS_ORIGINS=https://crm-platform-nine-kappa.vercel.app
APP_ENV=development
